test_autoarray/mask/files/array/
test_autoarray/dataset/imaging/files/array/
test_autoarray/dataset/interferometer/files/array/
test_autoarray/mask/files/mask/array_out.fits
test_autoarray/mask/files/mask/mask_out.fits
test_autoarray/plot/wrap/base/files/
test_autoarray/structures/grids/files/grid_2d.fits

test_autoarray/dataset/files/array/output_test/uv_wavelengths.fits
test_autoarray/dataset/files/array/output_test/visibilities.fits
test_autoarray/dataset/plot/files/
test_autoarray/fit/plot/files/
test_autoarray/structures/arrays/one_d/files/array/
test_autoarray/structures/plot/files/
test_autoarray/instruments/files/

.envr
__pycache__
*.log
*.swp
.eggs/
autoarray.egg-info/
*cache
*pytest_cache
build//
build/
dist/
.idea/
test_files
test_autoarray/unit/instruments/files/acs/acs_ccd.fits
test_autoarray/unit/plot/files/plotter/fits/frame.fits
test_autoarray/unit/structures/files/array.fits
test_autoarray/unit/structures/files/frame.fits
test_autoarray/unit/structures/files/kernel.fits
test_autoarray/unit/structures/grids/files/grid/grid.fits

# Ignoring all files in autoarray/util/nn/src/.
autoarray/util/nn/src/*
