autoconf==0.7.3
colorcet>=2.0.2
llvmlite<=0.32.1
numba<=0.47.0
numpy>=1.18.0
scipy>=1.5.1
decorator>=4.0.0
dill>=0.3.1.1
astropy>=3.0.0
pylops>=1.10.0
pynufft==2020.0.0
scikit-image==0.14.2
scikit-learn==0.21.3
