analysis:
  n_cores: 1
  preload_attempts: 250
fits:
  flip_for_ds9: false
grid:
  remove_projected_centre: false
adapt:
  adapt_minimum_percent: 0.01
  adapt_noise_limit: 100000000.0
  stochastic_outputs: false
inversion:
  check_reconstruction: false       # If True, the inversion's reconstruction is checked to ensure the solution of a meshs's mapper is not an invalid solution where the values are all the same.
  use_positive_only_solver: false    # If True, inversion's use a positive-only linear algebra solver by default, which is slower but prevents unphysical negative values in the reconstructed solutuion.
  no_regularization_add_to_curvature_diag_value : 1.0e-8 # The default value added to the curvature matrix's diagonal when regularization is not applied to a linear object, which prevents inversion's failing due to the matrix being singular.
  positive_only_uses_p_initial: false  # If True, the positive-only solver of an inversion's uses an initial guess of the reconstructed data's values as which values should be positive, speeding up the solver.
numba:
  cache: true
  nopython: true
  parallel: false
  use_numba: true
output:
  backup_every_update: 10
  grid_results_interval: 100
  log_every_update: 50
  log_file: output.log
  log_level: INFO
  model_results_decimal_places: 3
  model_results_every_update: 100
  remove_files: false
pixelization:
  voronoi_nn_max_interpolation_neighbors: 100
profiling:
  perform: false
  repeats: 1
structures:
  use_dataset_grids: true
test:
  check_figure_of_merit_sanity: false
  bypass_figure_of_merit_sanity: false
  check_preloads: false
  exception_override: false
  preloads_check_threshold: 0.1     # If the figure of merit of a fit with and without preloads is greater than this threshold, the check preload test fails and an exception raised for a model-fit. 
